.todo-form-wrapper {
  .title-input, .description-input, .year-input, .public-input, .completed-input, .caption{
    margin: 20px 0px;
    width: 100%;
  }
  .create-todo-button, .back-button {
    width: 100%;
    margin: 10px 0px;
  }
  .error {
    color: red;
  }

}